.centered-container {
    text-align: center;
    margin-top: 50px; /* Adjust as needed */
  }

  .section-title {
    font-size: 2em;
    color: #333; /* Adjust the color as needed */
  }

  .subtitle {
    font-size: 1.5em;
    color: #555; /* Adjust the color as needed */
    margin-top: 10px; /* Adjust as needed */
  }
  
  body.grad {
    background: linear-gradient(45deg, red, blue, orange, yellow);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }