/* Base.html CSS */
/* Import Google Fonts */
@import url("//fonts.googleapis.com/css2?family=Rye:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("//fonts.googleapis.com/css2?family=Rammetto+One:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");


* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 700 !important;
}

body {
  background: url('main-bg.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.test-title{
  display:flex;
  justify-content:center;
  align-items: center;
  text-align:center;
  font-family:'Rye', display;
  font-size:30px;
  color:#ffffff;
}

.navbar {
  padding: 15px;
  z-index: 8000;
  height: 14vh;
}

.navbar .loginBtn{
  width:100px;
  height: 50px;
  background: transparent;
  backdrop-filter: blur(20px);
  border: 2px solid #fff;
  outline:none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color:#fff;
  font-weight: 500;
  margin-left: 40px;
  transition: 0.5s;
}

.navbar .loginBtn:hover{
  background:#fff;
  color:black
}

.navbar-logo img {
  width: 200px;
  height: auto;
  display: block;
  margin-top:-12px;
  margin-bottom:-12px;
}


.navbar-items {
  display: flex;
  justify-content: flex-end;
}

.navbar-items a {
  margin: 5px 10px;
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  border-radius: 30px;
  transition: 0.5s;
}


.navbar-items a:hover {
  color: rgb(165, 255, 250);
}


.content {
  width: 100%;
  height: 86vh;
  padding: 0px;
  position: relative;
  z-index: 1;
  }

.section-title {
  font-size: 2em;
  color: #fff; /* Adjust text color for better visibility on the background */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a subtle text shadow */
}

.subtitle {
  font-size: 1.5em;
  color: #eee; /* Adjust text color for better visibility on the background */
  margin-top: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Add a subtle text shadow */
}

/* Login / Register Css */

.auth-container{
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  margin:0;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wrapper{
  width: 420px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: #fff;
  border-radius: 20px;
  padding: 30px 40px;
  overflow: hidden;
  position: fixed;
  z-index: 10000;
}

.wrapper h1{
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box{
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
  color:#fff;
}

.input-box i {
  position:absolute;
  right: 20px;
  top:50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.wrapper .additional-section{
  display:flex;
  justify-content: space-between;
  font-size: 14px;
  margin: -15 0 15px
}

.additional-section label input{
  accent-color: #fff;
  margin-left: 5px;
  margin-right: 3px

}

.additional-section a {
 color:#fff;
 text-decoration: none;
}

.additional-section a:hover {
  text-decoration: underline;
}

.wrapper .submitbtn{
  width:100%;
  height: 45px;
  background: #fff;
  border:none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color:black;
  font-weight: 600;
  margin-top: 5px;
}

.wrapper .log-reg-link{
  font-size: 14px;
  text-align: center;
  margin: 20px 0 15px
}


.wrapper .icon-close{
  position:absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: white;
  color: black;
  font-size: 2em;
  display:flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index:1;
}

.log-reg-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.log-reg-link p a:hover{
  text-decoration: underline;
}

/* Login box initial state */

.wrapper{
  transform: scale(0);
  transition: transform 0.5s ease, height 0.5s ease;
}

.auth-container{
  transform: scale(0);
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.09s ease;
}

/*Hiding and showing Login box*/

.wrapper.active-login{
  transform: scale(1);
}

.auth-container.active-login{
  transform: scale(1);
  opacity: 1;
}

/*Transition animations*/


.wrapper.active {
  height: 600px;
}

.wrapper .login-box{
  transition: transform .5s ease;
  transform: translateX(0px);
}

.wrapper.active .login-box{
  transition: none;
  transform: translateX(-400px)
}

.register-box{
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.wrapper.active .register-box{
  transition: transform .5s ease;
  transform: translateX(30px);
  
}

.wrapper .register-box{
  position:absolute;
  transition: none;
  transform: translateX(400px);
  top:10px;
}


.auth-container.active-login {
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  backdrop-filter: blur(5px);
}


/* Home Section Css / blockbox Css */

/* Blockbox */
.blockbox{
  display:flex;
  justify-content:center;
  height:80%;
  width:80%;
  position:relative;
  left:10%;
  top:3%;
  background-color:rgba(0,0,0,0.4);
  border-radius: 20px;
  backdrop-filter:blur(6px);
 }

 /* Food */
.content .blockbox .food-selection{
  background-color:rgba(0,0,0,0.7);
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  width:37%;
  height:80%;
  position:relative;
  top:10%;
  margin-left:30px;
  border-radius: 20px;
 }
 

 /* Bucket */
.content .blockbox .outer-bucket{
  background-color:rgba(0,0,0,0.7);
  padding: 5px 5px 5px 5px;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  height:80%;
  width:37%;
  margin-left:30px;
  margin-right:30px;
  padding-top: 15px;
  position:relative;
  top:10%;
  border-radius: 20px;
 }

 /* Scale */
.content .blockbox .outer-scale{
  background-color:rgba(0,0,0,0.7);
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  width:28%;
  height:80%;
  position:relative;
  top:10%;
  margin-right:30px;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px
 }
 
 /* Results container additions */
 #searchInput{
  text-align: center;
  width:86%;
  height:7%;
  border-radius: 20px;
  padding-right:5px;
  padding-left:5px;
 }


#resultsContainer{
  background-color:#eaeaea;
  width:85%;
  height:75%;
  margin-top:10px;
  margin-bottom:10px;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 3px;
  overflow:scroll;
 }



::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-thumb {
  display: none;
}

::-webkit-scrollbar-track {
  display: none;
}

.scroll-container {
  display:none;
}

.scroll-container::-webkit-scrollbar-thumb {
  display:none;
}

.scroll-container::-webkit-scrollbar-track {
  display:none;
}


/* Bucket Container additions */

#bucket{
  justify-content:flex-start;
  overflow: scroll;
  padding-top:12px;
  padding-bottom:12px;
  box-sizing: content-box;
}

.bucket-title{
  color:white;
}

.bucket-item{
  color:white;
}

.list-item{
  cursor: pointer;
  color: black;
  transition: color 0.3s;
}

.list-item:hover {
  color:#008b0c
}

.selected-item{
  color: rgb(5, 138, 0); /* Set the text color for better visibility */
  font-weight: bold; /* Optionally make the text bold */
}

#addFood{
  width:55%;
  height: 50px;
  display: none;
  background: rgba(0, 0, 0, 0.295);
  backdrop-filter: blur(20px);
  outline:none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1.1em;
  color: white;
  font-weight: 500;
  transition: 0.5s;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  margin: 10px;
}

#addFood:hover{
  background-color: aqua;
  border-color: black;
  color: black;
}


/* Scale Container additions*/

.scale{
  margin-top:15px;
  margin-left:10px;
  margin-right:10px;
  justify-content:flex-start;
  overflow: scroll;
  box-sizing: content-box;
  width: 100%;
  overflow-x: auto;
}

#showDetailed{
  background-color:rgba(0,0,0,0.32);
  color:#ffffff;
  border-style:solid;
  border-color:#3a3a3a;
  border-width:2px;
  border-radius: 20px;
  border-top-width:2px;
  border-right-width:1px;
  border-bottom-width:1px;
  border-left-width:2px;
  border-left-color:#808080;
  border-style: solid;
  padding: 5px;
  margin: 10px;
  display: none;
  transition: all 0.4s;
}

#showDetailed:hover{
  color: black;
  background-color: rgb(0, 255, 234);
}


/* Table styles */
#scaleTable {
  width: 100%;
  border-collapse: collapse;
  background-color: transparent;
  color: black;
  display: none;
  margin-bottom:5px;
  margin-left: 5px;
  margin-right: 5px;
}

#scaleTable th, #scaleTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}


#scaleTable tr:last-child {
  font-weight: bold;
}

.scaleHeader{
  background-color: rgba(0, 18, 53, 0.384);
}

.scaleHeader,
.scaleTableRow {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  white-space: nowrap;
  color:white;
}

.scaleTableData{
  color:white;
}

.scaleHeaderRow {
  background-color: #42424236;
  color: rgb(255, 255, 255);
}
.scaleTableRow:nth-child(even) {
  background-color: transparent
}
.scaleTableRow:hover {
  background-color: #1f374b;
}

#calorieCounter{
  color:white;
  display:none;
}

/*Detailed Overview Styling*/
.detailedView{
  position: fixed;
  z-index: 9999;
  width:100vw;
  height:100vh;
  backdrop-filter: blur(0px) grayscale(0);
  background-color: transparent;
  display: flex;
  top: 0px;
  transform: scale(0);
  transition: backdrop-filter 0.3s;
}

.detailed{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  backdrop-filter: blur(2px);
  height: 70vh;
  z-index:10000;
  position:fixed;
  bottom:15vh;
  width:60vw;
  margin-left: 20vw;
  margin-right: 20vw;
  background-color:#0000005e;
  color:white;
  transform: scale(0);
  overflow: scroll;
  border-radius: 20px;
  transition: all 0.5s;
 }

.detailed.show{
  transform: scale(1);
}

.detailedView.show{
  transform: scale(1);
  background-color: rgba(0, 0, 0, 0.288);
  backdrop-filter: blur(5px) grayscale(0.5);
}

#detailed .closeDetailed{
  align-self:flex-end;
  position: fixed;
  width:3vw;
  height:5vh;
  font-size:36px;
  border-style:none;
  border-bottom-left-radius:19px;
 }
 
/* SideBar Outer Options */

.sidebar-btn{
  background: transparent;
  backdrop-filter: blur(20px);
  border: 2px solid #fff;
  outline:none;
  border-radius: 6px;
  cursor: pointer;
  color:#fff;
  font-weight: 500;
  margin-left: 40px;
  width:50px;
  height:50px;
  font-size:38px;
  transition: 0.5s;
}

.sidebar-btn:hover{
  background:#fff;
  color:black
}



 .sidebar {
  position: fixed;
  display: flex;
  flex-direction:column;
  justify-content:flex-start;
  top: 0;
  right: -250px; /* Initially hidden */
  padding:25px;
  padding-top: 100px !important;
  width: 250px;
  height: 100%;
  color: white;
  border-top-left-radius:19px;
  border-bottom-left-radius:19px;
  background-color:rgba(51,51,51,0.31);
  backdrop-filter:blur(5.14px) grayscale(1);
  overflow: hidden;
  transition: right 0.3s ease-in-out;
}

.close-sidebar {
  background-color: #ddd;
  color: #333;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.close-sidebar:hover {
  background-color: #aaa;
}

.sidebar .close-sidebar{
  align-self:flex-start;
  position: fixed;
  width:3vw;
  height:5vh;
  font-size:36px;
  border-style:none;
  border-bottom-right-radius:19px;
  top:0px;
  left:0px;
  display:flex;
  align-items:center;
 }

 #sidebar .sidebar-content{
  font-family:'Rammetto One', display;
  padding-left:8px;
  padding-bottom:25px;
  font-size:17px;
  display: flex;
  flex-direction: column;
 }

 .sidebar-option{
  margin: 5px 0px 5px 0px;
 }
 


 #sidebar .logout-btn{
  color:#b70000;
  background-color: transparent;
  font-size:19px;
  border-style:solid;
  border-color:#8e0000;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  transition: all 0.5s;
  padding: 5px;
 }


 #sidebar .logout-btn:hover{
  background-color: rgb(255, 255, 255);
  border-color: black;
  color: black;
 }


/* SideBar Option Css's */

/* mainly for background blur and animations */
.outer-option{
  position: fixed;
  z-index: 7998;
  width:100vw;
  height:100vh;
  backdrop-filter: blur(0px) grayscale(0);
  background-color: transparent;
  display: flex;
  top: 0px;
  transform: scale(0);
  transition: backdrop-filter 0.3s;
}

.outer-option.show{
  transform: scale(1);
  background-color: rgba(0, 0, 0, 0.288);
  backdrop-filter: blur(5px) grayscale(0.5);
}


.my-data,
.my-history,
.my-bmi{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 70vh;
  z-index:7999;
  position:fixed;
  bottom:15vh;
  width:60vw;
  margin-left: 20vw;
  margin-right: 20vw;
  background-color:#2d2d2d;
  box-shadow:0px 0px 17px 0px rgba(0,0,0,0.98) inset;
  color:white;
  transform: scale(0);
  overflow: scroll;
  border-radius: 20px;
  transition: all 0.5s;
}

.my-data.show,
.my-history.show,
.my-bmi.show {
  transform: scale(1);
}

.outer-option .close-option{
  align-self:flex-end;
  position: fixed;
  width:3vw;
  height:5vh;
  font-size:36px;
  border-style:none;
  border-bottom-left-radius:19px;
}

/* Bmi */
.outer-option .my-bmi{
  display:flex;
  display:flex;
  flex-direction:column;
 }
 

.outer-option .my-bmi .input-group{
  justify-content:center;
  font-size:18px;
  color:#ffffff;
  line-height:1.8em;
  flex-direction:column;
  width:auto !important;
  height:auto !important;
  margin-top:39px;
}
 
 
.my-bmi .input-group label{
  margin-right:27px;
  font-family:'Prosto One', display;
  border-radius:10px;
 }
 
 

#height,
#weight{
  text-align:center;
  font-family:'Prosto One', display;
  border-radius:10px;
 }
 
 
#height-unit,
#weight-unit{
  text-align:center;
  margin-top:5px;
  font-family:'Prosto One', display;
  border-radius:5px;
 }
 

#weight-unit{
  margin-bottom:41px;
 }


.outer-option .my-bmi h2{
  margin-top:60px;
 }
 


 /* Button */
#calculate-bmi{
  width:248px;
  height:45px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  background-color:#00325b;
  color:#ffffff;
  font-family:'Prosto One', display;
  border-style:none;
  box-shadow:0px 0px 30px 0px #f9f9f9;
  transition: all 0.6s;

}
#calculate-bmi:hover{
  background-color: white;
  color: #00325b;
  box-shadow:0px 0px 30px 0px #00325b;
 }