{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block title %}
    <!--#######################################################-->
    <!--I am using end blocks with names 
        or variables because of readability-->
    <!--#######################################################-->
    {% endblock title %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    {% block style %}
    {% endblock style%}
    
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    
    <script src="{% static 'headscript.js' %}"></script>

    {% block headscript %}
    {% endblock headscript %}
</head>
<body>
    <header class="navbar">
        <div class="navbar-logo">
            <a href="{% url 'calo-home' %}">
                <img src="{% static 'logo-nobg.png' %}" alt="Logo">
            </a>
        </div>
        <nav class="navbar-items">
            <a href="{% url 'calo-home' %}">Home</a>
            <a href="{% url 'calo-about' %}">About Us</a>
            <a href="{% url 'calo-contact' %}">Contact</a>
            {% if user.is_authenticated %}
            <button class="sidebar-btn" onclick="openSidebar()"><ion-icon name="menu-outline"></ion-icon></button>
                <script>
                    var logoutUrl = "{% url 'calo-logout' %}";
                </script>
                <div class="sidebar" id="sidebar">
                    <div class="sidebar-content">
                        <p>My Data</p>
                        <p>History</p>
                        <p>BMI</p>
                    </div>
                    <button class="logout-btn" onclick="performLogout()">
                        Log-Out
                    </button>
                    <button class="close-sidebar" onclick="closeSidebar()">
                        <ion-icon name="close-outline"></ion-icon>
                    </button>
                </div>
            {% else %}
                <button class="loginBtn">Login</button>
            {% endif %}
        </nav>
    </header>
        
    <div class="auth-container">
        <div class="wrapper">
            <span class="icon-close"><ion-icon name="close-outline"></ion-icon></span>
            
            <div class="login-box">
                <form action="{% url 'calo-login' %}" method="POST">
                    {% csrf_token %}
                    <h1>Login</h1>
                    <div class="input-box">
                        <input type="text" placeholder="Username"
                        name="username" required>
                        <i class='bx bx-user' ></i>
                    </div>
                    <div class="input-box">
                        <input type="password" placeholder="******"
                        name="password" 
                        id="pass" required>
                        <i class='bx bx-lock-alt' ></i>
                    </div>
                    <div class="additional-section">
                        <label><input type="checkbox" 
                        id="showPassword">Reveal Password</label>
                        <a href="#">Forgot password?</a>
                    </div>
                    <button class="submitbtn" type="submit">Login</button>
        
                    <div class="log-reg-link">
                        <p>Don't have an account? 
                            <a class="register-link">Register</a></p>
                    </div>
                </form>
            </div>

            <div class="register-box">
                <form action="{% url 'calo-register' %}" method="POST">
                    {% csrf_token %}
                    <h1>Registration</h1>
                    <div class="input-box">
                        <input type="text" placeholder="Username"
                        name="username" required>
                        <i class='bx bx-user' ></i>
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="Email"
                        name="email" required>
                        <i class='bx bx-envelope' ></i>
                    </div>
                    <div class="input-box">
                        <input type="password" placeholder="Password"
                        name="password1"
                        id="password" required>
                        <i class='bx bx-lock-alt' ></i>
                    </div>
                    <div class="input-box">
                        <input type="password" placeholder="Repeat Password" 
                        name="password2"
                        id="repeatpassword" required>
                        <i class='bx bx-lock-alt' ></i>
                    </div>
                    <div class="additional-section">
                        <label><input type="checkbox" 
                        id="revealPassword">Reveal Password</label>

                    </div>
                    <button class="submitbtn" type="submit">Register</button>
        
                    <div class="log-reg-link">
                        <p>Already Have an Account? 
                            <a class="login-link">Login</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="content">
    {% block content %}

    {% endblock content %}
    </div>

    <div class="footer">
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="{% static 'main.js' %}"></script>
    {% block script %}
    {% endblock script %}
</body>
</html>