{% extends "tracker/base.html" %}
{% load static %}


{% block title %}
    <title>Calucalcu Home</title>
{% endblock %}


{% block content %}
<div class="blockbox">
    <div class="food-selection">
        <h1 class="test-title">Food Selection</h1>
        <input type="text" id="searchInput" placeholder="Search for Consumables...">
        <div id="resultsContainer"></div>
    </div>
    <div class="outer-bucket">
        <h1 class="test-title">X-ray The food</h1>
        <div id="bucket" class="bucket">
        </div>
        <button id="addFood">Add</button>
    </div>
    <div class="outer-scale">
        <h1 class="test-title">Calculate</h1>
        <div class="scale">
            <!--Being Populated from js-->
        </div>
        <div id="calorieCounter"></div>
        <button id="showDetailed">Show Detailed Overview / Combined Composition</button>
    </div>
</div>
<div id="detailedView" class="detailedView">
<div id="detailed" class="detailed">
    <!--Detailed Overview-->
</div>
</div>

{% endblock content%}

{% block script %}
<script src="{% static 'usda_database.js' %}"></script>
{% endblock script %}