{% extends "tracker/base.html" %}

{% block title %}
    <title>Calucalcu</title>
{% endblock %}

{% block content %}
<div class="outer-reset-div">
    <div class="inner-reset-div">

{% if forgot_password %}

    <form method="POST">
    {% csrf_token %}
    <h2 class="header-text">Password Reset</h2>
        {% if errors %}
        <h3 class="highlight">Invalid Email, Please Try Again</h3>
        {% endif %}
        <label for="email">
            Password Reset Link Will Be Sent To This Email 
            {{form.as_p}}
        </label>
        
        <button type="submit" class="send_reset_email">
            Send A Reset Email
        </button>
    </form>

{% elif sent_password_reset %}

    <h2 class="header-text">
        Reset Instruction Has Been<br>
        Sent To Your Email Address</h2>

{% elif password_reset %}

    <form method="POST">
        {% csrf_token %}
        
        <h2 class="header-text">Change Password</h2>
        <label for="password">
            {{form.as_p}}
        </label>
        
        <label>
            <input type="checkbox" id="togglePassword">Reveal Password
        </label>
        <button type="submit" class="send_reset_email">
            Change Password
        </button>
    </form>
    <script>
        // Show/hide password functionality
        const passwordInput = document.getElementById('id_new_password1');
        const repeatPasswordInput = document.getElementById('id_new_password2');
        
        function togglePasswordVisibility(inputElement) {
            inputElement.type = inputElement.type === 'password' ? 'text' : 'password';
        }
        
        document.getElementById('togglePassword').addEventListener('click', () => {
            togglePasswordVisibility(passwordInput);
            togglePasswordVisibility(repeatPasswordInput);
        });
    </script>
    <style>
        .inner-reset-div{
            height: 65vh !important;
        }
    </style>

{% elif password_reset_complete %}

        <h2 class="header-text">
            Your Password Has Been Changed 
            <br> Please Log-In With New Credentials</h2>
        </div>


{% else %}
    <!-- Handling Username Errors  -->
    {% if username_error %}
        <p class="error">{{ username_error }}</p>
    {% endif %}

    {% if password_error %}
        <p class="error">{{ password_error }}</p>
    {% endif %}

    <style>
        .error{
            color: white;
            text-align: center;
            margin-top: 20px;
            font-size: 27px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
        .auth-container{
            transform: scale(1);
            opacity: 1;
            z-index: 6000;
            background: rgba(0, 0, 0, 0.168);
        }
        .wrapper{
            transform: scale(1);
            z-index: 8989;
        }
        .wrapper .icon-close{
            display:none;
        }
    </style>
{% endif %}
    </div>
</div>
{% endblock content%}